<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关键工序到位率</title>
    <style type="text/css">
        *{
            margin: 0;padding: 0;
        }
        #main{
            width: 600px;
            height:500px;
            margin: 50px auto 0
        }

    </style>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script src="../../static/js/easyui-lang-zh_CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/echarts.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<table id="tt" class="easyui-datagrid" style="width:100%;height:500px"
       url="datagrid24_getdata.php"
       toolbar="#tb"
       rownumbers="true" pagination="true">
    <thead>
    <tr>
        <th field="regions" width="150" align="center">部门与区域</th>
        <th field="duty" width="120" align="center">职务</th>
        <th field="dutyName" width="100" align="center">责任人</th>
        <th field="day" width="120" align="center">工期</th>
        <th field="rate" width="150" align="center">站点</th>
        <th field="rate" width="120" align="center">时间段</th>
        <th field="rate" width="120" align="center">关键工序数量</th>
        <th field="rate" width="120" align="center">关键工序到位数</th>
        <th field="rate" width="120" align="center">关键工序到位率</th>
    </tr>
    </thead>
</table>
<div id="tb" style="padding:5px">
    <span style="margin-left: 100px;">区域:</span>
    <input id="regions" class="easyui-textbox">
    <span>时间:</span>
    <input id="db" class="easyui-datebox">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"onclick="doSearch()">搜索</a>
</div>
<div id="main"></div>
</body>

<script type="text/javascript">
    $(function () {
        function doSearch(){
            $('#tt').datagrid('load',{
                name: $('#name').val(),
                regions: $('#regions').val(),
            });
        }

        $('#db').datebox({
            onShowPanel: function() { //显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); //触发click事件弹出月份层
                if(!tds) setTimeout(function() { //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    tds = p.find('div.calendar-menu-month-inner td');
                    tds.click(function(e) {
                        e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                        var year = /\d{4}/.exec(span.html())[0] //得到年份
                            ,
                            month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                        $('#db').datebox('hidePanel') //隐藏日期对象
                            .datebox('setValue', year + '-' + month); //设置日期的值
                    });
                }, 0);
                yearIpt.unbind(); //解绑年份输入框中任何事件
            },
            parser: function(s) {
                if(!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function(d) {
                return d.getFullYear() + '-' + (d.getMonth() + 1);
            }
        });
        var p = $('#db').datebox('panel'), //日期选择对象
            tds = false, //日期选择对象中月份
            yearIpt = p.find('input.calendar-menu-year'), //年份输入框
            span = p.find('span.calendar-text'); //显示月份层的触发控件
    })


</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据

    option = {
        title: {
            text: '关键工序'
        },
        color: ['#11a0f8', '#7ace4c', '#f00'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },

            formatter:'{b}<br />\
                	<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:#11a0f8"></span>\
                	{a0}：{c0}<br />\
                	<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:#7ace4c"></span>\
                	{a1}：{c1}<br />\
                	<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:#f00"></span>\
                	{a2}：{c2}%<br />'
        },
        legend: {
            data:['关键工序数量','关键工序到位量','关键工序到位率']
        },
        grid: {
            left: '0%',
            right: '0%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisTick: {show: false},
                data: ["数据1","数据2","数据3","数据4","数据5"]
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '关键工序数量',
                type: 'bar',
                barGap: 0,
                data: [9,7,2,10,8,]
            },
            {
                name: '关键工序到位量',
                type: 'bar',
                data: [3,6,2,6,4,]
            },
            {
                name: '关键工序到位率',
                type: 'bar',
                data: [100,86,100,60,50,]
            },
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</html>
