<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>室内覆盖工程进度统计信息</title>
    <link rel="stylesheet" href="../easyui/easyui.css">
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/list.css">
    <style>
        .border{
            height: 27px;
            width: 120px;
            border: 1px solid #95B8E7;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<form id="excelForm" method="post" enctype="multipart/form-data">
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true"  data-options="iconCls:'icon-print'" onClick="ProjectProgressDegreeExcel();">导出工程基本信息</a>
    </div>
</form>
<div data-toggle="distpicker" style="float: left">
    <select  id="province" class="border" data-province="河南省"></select>
    <select  id="city" class="border" data-city="郑州市"></select>
    <select  id="county" class="border" data-district="中原区"></select>
</div>
<div>
    <label>建设年份:</label><input id="construction-year" type="text" class="Wdate" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy'})">
    <label>运营商:</label><input id="operator" class="easyui-combobox" placeholder="请选择运营商" style="width: 90px">
    <label>建设项目名称：</label><input id="construction-project" class="easyui-textbox" style="width:90px">
    <label>监理人员：</label><input id="supervisory" class="easyui-textbox" style="width:90px">
    <a href="#" id="search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
</div>
<div id="datagrid" class="easyui-datagrid panel-fit" style="height: 100%;width: 99.9%"></div>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.easyui.min.js"></script>
<script src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/distpicker/distpicker.js" ></script>
<script type="text/javascript" src="../js/distpicker/distpicker.common.js" ></script>
<script type="text/javascript" src="../js/distpicker/distpicker.esm.js" ></script>
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<script th:inline="none" type="text/javascript">
    $(function () {
        //初始化运营商combobox
        $("#operator").combobox({
            editable:false,
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            data:[{
                id:'1',
                name:'中国电信'
            },{
                id:'2',
                name:'中国联通'
            },{
                id:'3',
                name:'中国移动'
            },{
                id:'4',
                name:'中国铁塔'
            },{
                id:'5',
                name:'中国广电'
            }]
        })
        //搜索点击事件
        $("#search").bind("click",function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "county":$("#county").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operator").combobox("getText"),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
                "siteLeader":$("#supervisory").textbox("getValue").trim()
            });
        })
        //点击省份change事件
        $("#province").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operator").combobox("getText"),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
                "siteLeader":$("#supervisory").textbox("getValue").trim()
            });
        })
        //点击城市change事件
        $("#city").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operator").combobox("getText"),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
                "siteLeader":$("#supervisory").textbox("getValue").trim()
            });
        })
        //点击区(县)change事件
        $("#county").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "county":$("#county").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operator").combobox("getText"),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
                "siteLeader":$("#supervisory").textbox("getValue").trim()
            });
        })
        //运营商change事件
        $("#operator").combobox({
            onChange:function () {
                $("#datagrid").datagrid("load",{
                    "province":$("#province").find("option:selected").val(),
                    "city":$("#city").find("option:selected").val(),
                    "county":$("#county").find("option:selected").val(),
                    "buildYear":$("#construction-year").val(),
                    "buildingProject":$("#construction-project").textbox("getValue").trim(),
                    "operator":$("#operator").combobox("getText"),
                    "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                    "districtHead":$("#supervisory").textbox("getValue").trim(),
                    "siteLeader":$("#supervisory").textbox("getValue").trim()
                });
            }
        })

        //数据表格
        $("#datagrid").datagrid({
            url: '../IC/selectAllIndoorCoverageProgress',
            pagination: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            columns:[[
                {field:'ck',checkbox:"true",rowspan:2},
                { field:'indoorProgressId',title:'序号',rowspan:2,width:50,align:'center',hidden:true},
                { field:'operator',title:'运营商',rowspan:2,width:50,align:'center'},
                { field:'buildingProject',title:'建设项目名称',rowspan:2,width:100,align:'center'},
                { field:'buildYear',title:'建设年份',rowspan:2,width:100,align:'center'},
                { field:'planStationName',title:'规划站名',rowspan:2,width:100,align:'center'},
                { field:'actualStationName',title:'实际站名',rowspan:2,width:100,align:'center'},
                { field:'indoorLongitude',title:'经度',rowspan:2,width:50,align:'center'},
                { field:'indoorLatitude',title:'纬度',rowspan:2,width:50,align:'center'},
                { field:'province',title:'省',rowspan:2,width:50,align:'center'},
                { field:'city',title:'市',rowspan:2,width:50,align:'center'},
                { field:'county',title:'县(区)',rowspan:2,width:50,align:'center'},
                { field:'subordinateDepartment',title:'所属部门',rowspan:2,width:100,align:'center'},
                { field:'coverType',title:'覆盖类型',rowspan:2,width:100,align:'center'},
                { title:'监理单位',colspan:3,align:'center'},
                { title:'施工单位',colspan:2,align:'center'},
                { title:'设计单位',colspan:2,align:'center'},
                { title:'BBU',colspan:3,align:'center'},
                { title:'RRU',colspan:2,align:'center',},
                { title:'光分布设备',colspan:11,align:'center'},
                { title:'无源器件',colspan:5,align:'center'},
                { title:'天线',colspan:5,align:'center'},
                { title:'线缆',colspan:5,align:'center'},
                { title:'电表',colspan:2,align:'center',},
            ],[
                {field:'siteLeader',title:'现场责任人',width:100,align:'center'},
                {field:'professionResponsiblePerson',title:'专业负责人',width:100,align:'center'},
                {field:'districtHead',title:'区域负责人',width:100,align:'center'},
                {field:'icCorporateName',title:'名称',width:80,align:'center'},
                {field:'personInCharge',title:'负责人',width:50,align:'center'},
                {field:'designCorporateName',title:'名称',width:50,align:'center'},
                {field:'designPersonInCharge',title:'负责人',width:50,align:'center'},
                {field:'installation',title:'安装方式',width:80,align:'center',
                    formatter:function (value,row,index) {
                        //console.log("value:"+value);
                        //console.log("row:"+row.centralization);
                        //console.log("index:"+(index+1)%2);
                        if((index+1)%2 == 1){
                            return "设计数量";
                        }else{
                            return "安装数量";
                        }
                    }
                },
                {field:'centralization',title:'集中放置',width:80,align:'center'},
                {field:'wallHangingWall',title:'小区挂墙',width:80,align:'center'},
                {field:'designStart',title:'设计数量',width:80,align:'center'},
                {field:'dramInstalledDram',title:'安装数量',width:80,align:'center'},
                {field:'lightDistriputionType',title:'类型',width:80,align:'center',
                    formatter:function (value,row,index) {
                        //console.log(value+row+index)
                        if((index+1)%2 == 1){
                            return "设计数量";
                        }else{
                            return "安装数量";
                        }
                    }
                },
                {field:'easyMacro',title:'EasyMacro',width:80,align:'center'},
                {field:'bookrruNotIntegratedAntenna',title:'BOOK RRU（不集成天线）',width:150,align:'center'},
                {field:'bookrruIntegratedAntenna',title:'BOOK RRU（集成天线）',width:150,align:'center'},
                {field:'hub',title:'HUB',width:50,align:'center'},
                {field:'pruIntegratedAntenna',title:'PRU(不集成天线)',width:150,align:'center'},
                {field:'pruNotIntegratedAntenna',title:'PRU(集成天线)',width:150,align:'center'},
                {field:'accessUnit',title:'接入单元（近端）',width:150,align:'center'},
                {field:'extensionUnit',title:'扩展单元',width:80,align:'center'},
                {field:'remoteDeviceIndoor',title:'远端设备（室内）',width:150,align:'center'},
                {field:'remoteDeviceOutdoor',title:'远端设备（室外）',width:150,align:'center'},
                {field:'passiveDeviceType',title:'类型',width:80,align:'center',
                    formatter:function (value,row,index) {
                        // console.log(value+row+index)
                        if((index+1)%2 == 1){
                            return "设计数量"
                        }else{
                            return "安装数量"
                        }
                    }
                },
                {field:'powerDivider',title:'功分器',width:50,align:'center'},
                {field:'coupler',title:'耦合器',width:50,align:'center'},
                {field:'roadConnector',title:'合路器',width:50,align:'center'},
                {field:'loadNumber',title:'负载',width:50,align:'center'},
                {field:'antennaType',title:'类型',width:80,align:'center',
                    formatter:function (value,row,index) {
                        // console.log(value+row+index)
                        if((index+1)%2 == 1){
                            return "设计数量"
                        }else{
                            return "安装数量"
                        }
                    }
                },
                {field:'indoorAntenna',title:'室内天线',width:80,align:'center'},
                {field:'outdoorAntenna',title:'室外天线',width:80,align:'center'},
                {field:'elevatorAntenna',title:'电梯天线',width:80,align:'center'},
                {field:'gpsAntenna',title:'GPS天线',width:80,align:'center'},
                {field:'cableType',title:'类型',width:80,align:'center',
                    formatter:function (value,row,index) {
                        // console.log(value+row+index)
                        if((index+1)%2 == 1){
                            return "设计数量"
                        }else{
                            return "安装数量"
                        }
                    }
                },
                {field:'networkLine',title:'网线',width:50,align:'center'},
                {field:'photoelectricCompositeCable',title:'光电复合缆',width:100,align:'center'},
                {field:'sevenEighthsFeeder',title:'7/8馈线',width:80,align:'center'},
                {field:'ahalfFeeder',title:'1/2馈线',width:80,align:'center'},
                {field:'electricDesignStart',title:'设计数量',width:80,align:'center'},
                {field:'electricInstalledDram',title:'安装数量',width:80,align:'center'},
            ]],
            onLoadSuccess:function () {
                //获取当前页的数据
                var rowsNumber = $("#datagrid").datagrid("getRows");
                //console.log("rowsNumber:"+rowsNumber.length/2);
                var fields = ['operator','buildingProject','buildYear','planStationName','actualStationName','indoorLongitude',
                'indoorLatitude','province','city','county','subordinateDepartment','coverType','siteLeader','professionResponsiblePerson',
                'districtHead','icCorporateName','personInCharge','designCorporateName','designPersonInCharge','designStart',
                'dramInstalledDram','electricDesignStart','electricInstalledDram'];
                //console.log("fields:"+fields.length);
                for (var j = 0;j < rowsNumber.length/2;j++){
                    for (var i = 0;i < fields.length; i++){
                        $("#datagrid").datagrid('mergeCells',{
                            index:j*2,
                            field:fields[i],
                            rowspan:2
                        })
                    }
                }
            }
        })
    })
    //导出数据
    function ProjectProgressDegreeExcel(){
        var rowDatas = $("#datagrid").datagrid("getSelections");
        //console.log(rowDatas+"信息数据");
        if(rowDatas.length==0){
            $.messager.alert("信息框","请选中要导出的数据","warning");
        }else{
            var ids = new Array(rowDatas.length);
            for(var i = 0; i<rowDatas.length; i++){
                ids[i] = rowDatas[i].indoorProgressId;
            }
            //console.log(ids);
            window.location.href="../IC/IndoorCoverageProgress_Excel?ids="+ids+"&time="+new Date();
        }
    }
</script>
</body>
</html>