<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>驻地网基本信息</title>
    <link rel="stylesheet" href="../easyui/easyui.css">
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/list.css">
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <style>
        .border{
            height: 27px;
            width: 120px;
            border: 1px solid #95B8E7;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<form id="excelForm" method="post" enctype="multipart/form-data">
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true"  data-options="iconCls:'icon-print'" onClick="importProjectProgressExcel();">导出Excel空表格</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true"  data-options="iconCls:'icon-print'" onClick="ProjectProgressExcel();">导出工程基本信息</a>
        <input  id="fileName" class="easyui-filebox" name="fileName"  style="width:200px;vertical-align:middle;" />
        <a href="javascript:void(0)" onclick="importProjectProgress()" class="easyui-linkbutton">导入工程基本信息</a>
    </div>
</form>
<div data-toggle="distpicker" style="float: left">
    <select  id="province" class="border" data-province="河南省"></select>
    <select  id="city" class="border" data-city="郑州市"></select>
    <select  id="county" class="border" data-district="中原区"></select>
</div>
<div>
    <label>建设年份:</label><input id="construction-year" type="text" class="Wdate" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy'})">
    <label>建设项目:</label><input id="construction-project" class="easyui-textbox" style="width: 120px">
    <label>运营商：</label><input id="operatorSearch" class="easyui-combobox" style="width:120px">
    <label>监理人员：</label><input id="supervisory" class="easyui-textbox" style="width:120px">
    <a id="search" class="easyui-linkbutton" iconCls="icon-search" style="width: 60px">搜索</a>
    <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" id="newUser">添加</a>
    <!--<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" id="editUser">修改</a>-->
    <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" id="removeUser">移除</a>
</div>
</div>
<div id="datagrid" class="easyui-datagrid panel-fit" style="height: 100%"></div>
<div id="dialog" class="easyui-dialog" style="width: 500px;height: 400px;overflow: scroll" data-options="resizable:true,modal:true">
    <form method="post" id="form">
        <div style="margin-bottom:20px">
            <label>建设年份:</label><input type="text" name="buildYear" class="Wdate" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy'})">
        </div>
        <div style="margin-bottom:20px">
            <div data-toggle="distpicker" style="float: left">
                <select  id="form-province" class="border" data-province="河南省"></select>
                <select  id="form-city" class="border" data-city="郑州市"></select>
                <select  id="form-county" class="border" data-district="中原区"></select>
            </div>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-combobox" label="运营商:" labelPosition="top" id="operator" name="operator" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-combobox" label="区域类型:" labelPosition="top" id="areaType" name="regionalType" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="建设项目名称:" labelPosition="top"  required name="buildingProject" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="单项工程名称:" labelPosition="top" required name="singleProjectName" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="经度:" labelPosition="top" required name="garrisonLongitude" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="纬度:" labelPosition="top" required name="garrisonLatitude" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="建设性质:" labelPosition="top" required name="constructionNature" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="上联归属端局:" labelPosition="top" required name="ascriptionEndBureau" style="width:100%;">
        </div>
        <a class="easyui-linkbutton" id="supervision">监理单位</a>
        <a class="easyui-linkbutton" id="builder">施工单位</a>
        <a class="easyui-linkbutton" id="design">设计单位</a>
        <a class="easyui-linkbutton" id="level-one">一级分光器设计数量(个)</a>
        <a class="easyui-linkbutton" id="level-two">二级分光器设计数量(个)</a>
        <a class="easyui-linkbutton" id="level-one-box">一级分光器箱设计数量(个)</a>
        <a class="easyui-linkbutton" id="level-two-box">二级分光器设计数量(个)</a>
        <a class="easyui-linkbutton" id="optic-box">光缆交接箱设计数量（个）</a>
        <a class="easyui-linkbutton" id="optic-length">光缆长度（m）</a>
    </form>
</div>
<!--监理单位-->
<div id="dialog-supervision" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-supervision" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="现场监理" labelPosition="top" required id="supervision-site" name="onSiteSupervision" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="专业负责人" labelPosition="top" required id="professional-head" name="professionResponsiblePerson" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="区域负责人" labelPosition="top" required id="area-head" name="districtHead" style="width:100%;">
        </div>
    </form>
</div>
<!--施工单位-->
<div id="dialog-builder" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-builder" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="公司名称" labelPosition="top" required id="company-name" name="constructionCorporateName" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="联系人" labelPosition="top" required id="tel-person" name="constructionLinkman" style="width:100%;">
        </div>
    </form>
</div>
<!--设计单位-->
<div id="dialog-design" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-design" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="公司名称" labelPosition="top" required id="design-company-name" name="designCorporateName" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="联系人" labelPosition="top" required id="design-tel-person" name="designConstructionLinkman" style="width:100%;">
        </div>
    </form>
</div>
<!--一级分光器设计数量(个)-->
<div id="dialog-level-one" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-level-one" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:4" labelPosition="top" required id="level-one-four" name="primaryOneToFour" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:8" labelPosition="top" required id="level-one-eight" name="primaryOneToEight" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:16" labelPosition="top" required id="level-one-sixteen" name="primaryOneToSixteen" style="width:100%;">
        </div>
    </form>
</div>
<!--二级分光器设计数量(个)-->
<div id="dialog-level-two" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-level-two" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:4" labelPosition="top" required id="level-two-four" name="secondOneToFour" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:8" labelPosition="top" required id="level-two-eight" name="secondOneToEight" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:16" labelPosition="top" required id="level-two-sixteen" name="secondOneToSixteen" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:32" labelPosition="top" required id="level-two-thirty" name="oneToThirtyTwo" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="1:64" labelPosition="top" required id="level-two-sixty" name="oneToSixtyFour" style="width:100%;">
        </div>
    </form>
</div>
<!--一级分光器箱设计数量(个)-->
<div id="dialog-level-one-box" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-level-one-box" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="抱箍式" labelPosition="top" required id="Anchorear-type" name="primaryAnchorearType" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="壁挂式" labelPosition="top" required id="wall" name="primaryWallMounted" style="width:100%;">
        </div>
    </form>
</div>
<!--二级分光器箱设计数量(个)-->
<div id="dialog-level-two-box" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-level-two-box" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="抱箍式" labelPosition="top" required id="two-Anchorear-type" name="secondAnchorearType" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="壁挂式" labelPosition="top" required id="tow-wall" name="secondWallMounted" style="width:100%;">
        </div>
    </form>
</div>
<!--光缆交接箱设计数量(个)-->
<div id="dialog-optic-box" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-optic-box" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="落地式" labelPosition="top" required id="floor" name="cableFloorType" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="壁挂式" labelPosition="top" required id="optic-wall" name="cableWallMounted" style="width:100%;">
        </div>
    </form>
</div>
<!--光缆长度(m)-->
<div id="dialog-optic-length" class="easyui-dialog" style="width: 400px;height: 300px;overflow: scroll" data-options="resizable:true,modal:true">
    <form id="form-optic-length" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="架空光缆" labelPosition="top" required id="overhead-optic" name="gysts" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="管道光缆" labelPosition="top" required id="pipe-optic" name="gysta" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="直埋光缆" labelPosition="top" required id="buried-optic" name="buriedServiceLightguide" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="墙壁光缆" labelPosition="top" required id="wall-optic" name="wallCable" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="桥架内光缆" labelPosition="top" required id="bridge-optic" name="inBridgeCable" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" label="路面微槽光缆" labelPosition="top" required id="road-optic" name="gyfxts" style="width:100%;">
        </div>
    </form>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.easyui.min.js"></script>
<script src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/distpicker/distpicker.js" ></script>
<script type="text/javascript" src="../js/distpicker/distpicker.common.js" ></script>
<script type="text/javascript" src="../js/distpicker/distpicker.esm.js" ></script>
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<script th:inline="none" type="text/javascript">
    $(function () {
        var one = 0;
        var two = 0;
        var three = 0;
        var four = 0;
        var five = 0;
        var six = 0;
        var seven = 0;
        var eight = 0;
        var nine = 0;

        var supervisorUnitId;
        var constructionOrganizationId;
        var designUnitId;
        var primarySplitterNumberId;
        var secondSplitterNumberId;
        var primarySplitterBoxId;
        var secondSplitterBoxId;
        var cableConnectorBoxId;
        var cableLengthId;

        //初始化区域类型的combobox
        $("#areaType").combobox({
            editable:false,
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            required:true,
            data:[{
                id:'1',
                name:'市区'
            },{
                id:'2',
                name:'县城'
            },{
                id:'3',
                name:'乡镇'
            },{
                id:'4',
                name:'农村'
            }]
        })

        //初始化搜素框运营商的combobox
        $("#operatorSearch").combobox({
            editable:false,
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            data:[{
                id:'1',
                name:'中国电信'
            },{
                id:'2',
                name:'中国联通'
            },{
                id:'3',
                name:'中国移动'
            },{
                id:'4',
                name:'中国铁塔'
            },{
                id:'5',
                name:'中国广电'
            }]
        })
        //初始化运营商combobox
        $("#operator").combobox({
            editable:false,
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            required:true,
            data:[{
                id:'1',
                name:'中国电信'
            },{
                id:'2',
                name:'中国联通'
            },{
                id:'3',
                name:'中国移动'
            },{
                id:'4',
                name:'中国铁塔'
            },{
                id:'5',
                name:'中国广电'
            }]
        })

        //搜索事件
        $("#search").bind("click",function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "county":$("#county").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operatorSearch").combobox("getText"),
                "onSiteSupervision":$("#supervisory").textbox("getValue").trim(),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
            });
        })
        //点击省份change事件
        $("#province").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operatorSearch").combobox("getText"),
                "onSiteSupervision":$("#supervisory").textbox("getValue").trim(),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
            });
        })
        //点击城市change事件
        $("#city").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operatorSearch").combobox("getText"),
                "onSiteSupervision":$("#supervisory").textbox("getValue").trim(),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
            });
        })

        //点击区(县)change事件
        $("#county").change(function () {
            $("#datagrid").datagrid("load",{
                "province":$("#province").find("option:selected").val(),
                "city":$("#city").find("option:selected").val(),
                "county":$("#county").find("option:selected").val(),
                "buildYear":$("#construction-year").val(),
                "buildingProject":$("#construction-project").textbox("getValue").trim(),
                "operator":$("#operatorSearch").combobox("getText"),
                "onSiteSupervision":$("#supervisory").textbox("getValue").trim(),
                "professionResponsiblePerson":$("#supervisory").textbox("getValue").trim(),
                "districtHead":$("#supervisory").textbox("getValue").trim(),
            });
        })

        //运营商change事件
        $("#operatorSearch").combobox({
            onChange:function () {
                $("#datagrid").datagrid("load",{
                    "province":$("#province").find("option:selected").val(),
                    "city":$("#city").find("option:selected").text(),
                    "county":$("#county").find("option:selected").text(),
                    "buildYear":$("#construction-year").val(),
                    "buildingProject":$("#construction-project").textbox("getValue").trim(),
                    "operator":$("#operatorSearch").combobox("getText"),
                    "onSiteSupervision":$("#supervisory").textbox("getValue").trim(),
                    "professionPeople":$("#supervisory").textbox("getValue").trim(),
                    "districtHead":$("#supervisory").textbox("getValue").trim(),
                });
            }
        });
        var dialogSupervision=$("#dialog-supervision")
        var formSupervision=$("#form-supervision")
        var dialogBuilder=$("#dialog-builder")
        var formBuilder=$("#form-builder")
        var dialogDesign=$("#dialog-design")
        var formDesign=$("#form-design")
        var dialogLevelOne=$("#dialog-level-one")
        var formLevelOne=$("#form-level-one")
        var dialogLevelTwo=$("#dialog-level-two")
        var formLevelTwo=$("#form-level-two")
        var dialogLevelOneBox=$("#dialog-level-one-box")
        var formLevelOneBox=$("#form-level-one-box")
        var dialogLevelTwoBox=$("#dialog-level-two-box")
        var formLevelTwoBox=$("#form-level-two-box")
        var dialogOpticBox=$("#dialog-optic-box")
        var formOpticBox=$("#form-optic-box")
        var dialogOpticLength=$("#dialog-optic-length")
        var formOpticLength=$("#form-optic-length")
        //隐藏dialog窗口
        dialogSupervision.dialog("close")
        dialogBuilder.dialog("close")
        dialogDesign.dialog("close")
        dialogLevelOne.dialog("close")
        dialogLevelTwo.dialog("close")
        dialogLevelOneBox.dialog("close")
        dialogLevelTwoBox.dialog("close")
        dialogOpticBox.dialog("close")
        dialogOpticLength.dialog("close")
        //监理单位的点击事件
        $("#supervision").bind("click", function () {
            dialogSupervision.dialog('open');// open
            dialogSupervision.dialog({
                title: '监理单位',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formSupervision.form('submit', {
                            url: '../HN/insertHnSupervisorUnit',
                            onSubmit: function () {
                                return formSupervision.form('validate');
                            },
                            success: function (data) {
                                supervisorUnitId = data;
                                one = 1
                                dialogSupervision.dialog('close');// close
                                $("#supervision").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogSupervision.dialog('close');// close
                    }
                }]
            });
        });
        //施工单位的点击事件
        $("#builder").bind("click", function () {
            dialogBuilder.dialog('open');// open
            dialogBuilder.dialog({
                title: '施工单位',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formBuilder.form('submit', {
                            url: '../HN/insertHnConstructionOrganization',
                            onSubmit: function () {
                                return formBuilder.form('validate');
                            },
                            success: function (data) {
                                constructionOrganizationId=data;
                                two = 1;
                                dialogBuilder.dialog('close');// close
                                $("#builder").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogBuilder.dialog('close');// close
                    }
                }]
            });
        });
        //设计单位的点击事件
        $("#design").bind("click", function () {
            dialogDesign.dialog('open');// open
            dialogDesign.dialog({
                title: '设计单位',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formDesign.form('submit', {
                            url: '../HN/insertHnDesignUnit',
                            onSubmit: function () {
                                return formDesign.form('validate');
                            },
                            success: function (data) {
                                designUnitId = data;
                                three = 1;
                                dialogDesign.dialog('close');// close
                                $("#design").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogDesign.dialog('close');// close
                    }
                }]
            });
        });
        //一级分光器设计数量(个)的点击事件
        $("#level-one").bind("click", function () {
            dialogLevelOne.dialog('open');// open
            dialogLevelOne.dialog({
                title: '一级分光器设计数量(个)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formLevelOne.form('submit', {
                            url: '../HN/insertHnPrimarySplitterNumber',
                            onSubmit: function () {
                                return formLevelOne.form('validate');
                            },
                            success: function (data) {
                                primarySplitterNumberId = data;
                                four = 1;
                                dialogLevelOne.dialog('close');// close
                                $("#level-one").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogLevelOne.dialog('close');// close
                    }
                }]
            });
        });
        //二级分光器设计数量(个)的点击事件
        $("#level-two").bind("click", function () {
            dialogLevelTwo.dialog('open');// open
            dialogLevelTwo.dialog({
                title: '二级分光器设计数量(个)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formLevelTwo.form('submit', {
                            url: '../HN/insertHnSecondSplitterNumber',
                            onSubmit: function () {
                                return formLevelTwo.form('validate');
                            },
                            success: function (data) {
                                secondSplitterNumberId = data;
                                five = 1;
                                dialogLevelTwo.dialog('close');// close
                                $("#level-two").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogLevelTwo.dialog('close');// close
                    }
                }]
            });
        });
        //一级分光器箱设计数量(个)的点击事件
        $("#level-one-box").bind("click", function () {
            dialogLevelOneBox.dialog('open');// open
            dialogLevelOneBox.dialog({
                title: '一级分光器箱设计数量(个)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formLevelOneBox.form('submit', {
                            url: '../HN/insertHnPrimarySplitterBoxNumber',
                            onSubmit: function () {
                                return formLevelOneBox.form('validate');
                            },
                            success: function (data) {
                                primarySplitterBoxId = data;
                                six = 1;
                                dialogLevelOneBox.dialog('close');// close
                                $("#level-one-box").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogLevelOneBox.dialog('close');// close
                    }
                }]
            });
        });
        //二级分光器箱设计数量(个)的点击事件
        $("#level-two-box").bind("click", function () {
            dialogLevelTwoBox.dialog('open');// open
            dialogLevelTwoBox.dialog({
                title: '二级分光器箱设计数量(个)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formLevelTwoBox.form('submit', {
                            url: '../HN/insertHnSecondSplitterBoxNumber',
                            onSubmit: function () {
                                return formLevelTwoBox.form('validate');
                            },
                            success: function (data) {
                                secondSplitterBoxId = data;
                                seven = 1;
                                dialogLevelTwoBox.dialog('close');// close
                                $("#level-two-box").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogLevelTwoBox.dialog('close');// close
                    }
                }]
            });
        });
        //光缆交接箱设计数量(个)
        $("#optic-box").bind("click", function () {
            dialogOpticBox.dialog('open');// open
            dialogOpticBox.dialog({
                title: '光缆交接箱设计数量(个)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formOpticBox.form('submit', {
                            url: '../HN/insertHnCableConnectorBoxNumber',
                            onSubmit: function () {
                                return formOpticBox.form('validate');
                            },
                            success: function (data) {
                                cableConnectorBoxId = data;
                                eight = 1;
                                dialogOpticBox.dialog('close');// close
                                $("#optic-box").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogOpticBox.dialog('close');// close
                    }
                }]
            });
        });
        //光缆长度(m)
        $("#optic-length").bind("click", function () {
            dialogOpticLength.dialog('open');// open
            dialogOpticLength.dialog({
                title: '光缆长度(m)',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        formOpticLength.form('submit', {
                            url: '../HN/insertHnCableLength',
                            onSubmit: function () {
                                return formOpticLength.form('validate');
                            },
                            success: function (data) {
                                cableLengthId = data;
                                nine = 1;
                                dialogOpticLength.dialog('close');// close
                                $("#optic-length").linkbutton('disable');//添加数据成功后button设为不可点击
                                //console.log(data);
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        dialogOpticLength.dialog('close');// close
                    }
                }]
            });
        });
        var dialog = $('#dialog');
        var form = $('#form');

        // 隐藏弹窗
        dialog.dialog('close');
        // 数据表格
        $('#datagrid').datagrid({
            url: '../HN/selectHnGarrisonInformation',
            pagination: true,
            pageNumber: 1,
            pageSize: 2,
            pageList: [2, 4, 8, 10, 20],
            columns:[[
                {field:'ck',checkbox:"true",rowspan:2},
                {field: 'garrisonInformationId', title: '序号', rowspan: 2, width: 50, align: 'center',hidden:true},
                {field: 'operator', title: '运营商', rowspan: 2, width: 50, align: 'center'},
                {field: 'buildingProject', title: '建设项目名称', rowspan: 2, align: 'center', width: 120},
                {field: 'buildYear', title: '建设年份', rowspan: 2, align: 'center', width: 100},
                {field: 'singleProjectName', title: '单项工程名称', rowspan: 2, align: 'center', width: 120},
                {field: 'province', title: '省', rowspan: 2, align: 'center', width: 80},
                {field: 'city', title: '市', rowspan: 2, align: 'center', width: 80},
                {field: 'county', title: '区(县)', rowspan: 2, align: 'center', width: 80},
                {field: 'regionalType', title: '区域类型', rowspan: 2, align: 'center', width: 100},
                {field: 'garrisonLongitude', title: '经度', rowspan: 2, align: 'center', width: 80},
                {field: 'garrisonLatitude', title: '纬度', rowspan: 2, align: 'center', width: 80},
                {field: 'constructionNature', title: '建设性质', rowspan: 2, align: 'center', width: 100},
                {field: 'ascriptionEndBureau', title: '上联归属端局', rowspan: 2, align: 'center', width: 120},
                {title: '监理单位', colspan:3, align: 'center'},
                {title: '施工单位', colspan:2, align: 'center'},
                {title: '设计单位', colspan:2, align: 'center'},
                {title: '一级分光器设计数量（个）', colspan:3, align: 'center'},
                {title: '二级分光器设计数量（个）', colspan:5, align: 'center'},
                {title: '一级分光器箱设计数量（个）', colspan:2, align: 'center'},
                {title: '二级分光器箱设计数量（个）', colspan:2, align: 'center'},
                {title: '光缆交接箱设计数量（个）', colspan:2, align: 'center'},
                {title: '光缆长度（m）', colspan:6, align: 'center'},
            ],[
                {field: 'onSiteSupervision', title: '现场监理', width: 100, align: 'center'},
                {field: 'professionResponsiblePerson', title: '专业负责人',  width: 100, align: 'center'},
                {field: 'districtHead', title: '区域负责人',  width: 100, align: 'center'},
                {field: 'constructionCorporateName', title: '公司名称',  width: 100, align: 'center'},
                {field: 'constructionLinkman', title: '联系人',  width: 80, align: 'center'},
                {field: 'designCorporateName', title: '公司名称',  width: 80, align: 'center'},
                {field: 'designConstructionLinkman', title: '联系人',  width: 80, align: 'center'},
                {field: 'primaryOneToFour', title: '1:4',  width: 80, align: 'center'},
                {field: 'primaryOneToEight', title: '1:8',  width: 80, align: 'center'},
                {field: 'primaryOneToSixteen', title: '1:16',  width: 80, align: 'center'},
                {field: 'secondOneToFour', title: '1:4',  width: 80, align: 'center'},
                {field: 'secondOneToEight', title: '1:8', width: 80, align: 'center'},
                {field: 'secondOneToSixteen', title: '1:16',  width: 80, align: 'center'},
                {field: 'oneToThirtyTwo', title: '1:32',  width: 80, align: 'center'},
                {field: 'oneToSixtyFour', title: '1:64',  width: 80, align: 'center'},
                {field: 'primaryAnchorearType', title: '抱箍式',  width: 100, align: 'center'},
                {field: 'primaryWallMounted', title: '壁挂式',  width: 100, align: 'center'},
                {field: 'secondAnchorearType', title: '抱箍式',  width: 100, align: 'center'},
                {field: 'secondWallMounted', title: '壁挂式',  width: 100, align: 'center'},
                {field: 'cableFloorType', title: '落地式',  width: 100, align: 'center'},
                {field: 'cableWallMounted', title: '壁挂式', width: 100, align: 'center'},
                {field: 'gysts', title: '架空光缆',  width: 100, align: 'center'},
                {field: 'gysta', title: '管道光缆', width: 100, align: 'center'},
                {field: 'buriedServiceLightguide', title: '直埋光缆', width: 100, align: 'center'},
                {field: 'wallCable', title: '墙壁光缆',  width: 100, align: 'center'},
                {field: 'inBridgeCable', title: '桥架内光缆',  width: 120, align: 'center'},
                {field: 'gyfxts', title: '路面微槽光缆',  width: 120, align: 'center'},
            ]]
        });

        // 获取按钮
        var newUser = $('#newUser');
        var removeUser = $('#removeUser');

        // 添加记录
        newUser.on('click', function () {
            dialog.dialog('open');// open
            dialog.dialog({
                title: '添加记录',
                iconCls: 'icon-save',
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () { // 新增数据
                        //获取运营商的值
                        var operator=$("#operator").combobox("getText");
                        //获取省市区的值
                        var form_province=$("#form-province").find("option:selected").text();
                        var form_city=$("#form-city").find("option:selected").text();
                        var form_county=$("#form-county").find("option:selected").text();
                        var areaType=$("#areaType").combobox("getText");
                        //alert(form_province+form_city+form_county);
                        form.form('submit', {
                            url: '../HN/insertHnGarrisonInformation?province='+form_province+'&city='+form_city+'&county='+form_county+'&operator='+operator+'&regionalType='+areaType+'&supervisorUnitId='+supervisorUnitId+'&constructionOrganizationId='+constructionOrganizationId+'&designUnitId='+designUnitId+'&primarySplitterNumberId='+primarySplitterNumberId+'&secondSplitterNumberId='+secondSplitterNumberId+'&primarySplitterBoxId='+primarySplitterBoxId+'&secondSplitterBoxId='+secondSplitterBoxId+'&cableConnectorBoxId='+cableConnectorBoxId+'&cableLengthId='+cableLengthId,
                            onSubmit: function () {
                                //提交表单时验证9个方法必须全都添加完成
                                if (one == 1 && two == 1 && three == 1 && four == 1 && five == 1 &&
                                    six == 1 && seven == 1 && eight == 1 && nine == 1) {
                                    return form.form('validate');
                                }
                                return false;
                            },
                            success: function (data) {
                                //添加成功后刷新datagrid数据
                                if (data){
                                    $("#datagrid").datagrid("load");
                                    dialog.dialog('close');// close

                                    form.form("reset");
                                    $("#supervision").linkbutton('enable');
                                    $("#form-supervision").form("reset");

                                    $("#builder").linkbutton('enable');
                                    $("#form-builder").form("reset");

                                    $("#design").linkbutton('enable');
                                    $("#form-design").form("reset");

                                    $("#level-one").linkbutton('enable');
                                    $("#form-level-one").form("reset");

                                    $("#level-two").linkbutton('enable');
                                    $("#form-level-two").form("reset");

                                    $("#level-one-box").linkbutton('enable');
                                    $("#form-level-one-box").form("reset");

                                    $("#level-two-box").linkbutton('enable');
                                    $("#form-level-two-box").form("reset");

                                    $("#optic-box").linkbutton('enable');
                                    $("#form-optic-box").form("reset");

                                    $("#optic-length").linkbutton('enable');
                                    $("#form-optic-length").form("reset");

                                    $.messager.alert("添加记录","添加记录成功!");
                                    //console.log(data);
                                }else{
                                    $.messager.alert("添加记录","添加数据失败!","error");
                                }

                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-remove',
                    handler: function () {
                        //点击取消也刷新数据,清除form表单已填入的数据
                        $("#datagrid").datagrid("load")
                        dialog.dialog('close');// close
                    }
                }]
            });
        });
        // 移除记录
        removeUser.on('click', function () {
            // 移除选中的数据行
            if ($("#datagrid").datagrid('getSelected')) {
                var row = $("#datagrid").datagrid('getSelected');
                $.messager.confirm('移除记录', '确定移除吗?', function (result) {
                    if (result){
                        $.ajax({
                            url:'../HN/deleteHnGarrisonInformationByGarrisonInformationId',
                            method:'post',
                            data:{garrisonInformationId:row.garrisonInformationId},
                            dataType:'json',
                            success:function (data) {
                                if (data){
                                    //删除成功后刷新数据
                                    $.messager.alert("删除记录","删除成功","info")
                                    $("#datagrid").datagrid("load")
                                } else {
                                    $.messager.alert("删除记录","删除失败","error")
                                }
                            }
                        })
                    }
                });
            } else {
                alert('请选择一条数据！');
            }
        });
        /**
         * linkbutton方法扩展
         * @param {Object} jq
         */
        $.extend($.fn.linkbutton.methods, {
            /**
             * 激活选项（覆盖重写）
             * @param {Object} jq
             */
            enable: function (jq) {
                return jq.each(function () {
                    var state = $.data(this, 'linkbutton');
                    if ($(this).hasClass('l-btn-disabled')) {
                        var itemData = state._eventsStore;
                        //恢复超链接
                        if (itemData.href) {
                            $(this).attr("href", itemData.href);
                        }
                        //回复点击事件
                        if (itemData.onclicks) {
                            for (var j = 0; j < itemData.onclicks.length; j++) {
                                $(this).bind('click', itemData.onclicks[j]);
                            }
                        }
                        //设置target为null，清空存储的事件处理程序
                        itemData.target = null;
                        itemData.onclicks = [];
                        $(this).removeClass('l-btn-disabled');
                    }
                });
            },
            /**
             * 禁用选项（覆盖重写）
             * @param {Object} jq
             */
            disable: function (jq) {
                return jq.each(function () {
                    var state = $.data(this, 'linkbutton');
                    if (!state._eventsStore)
                        state._eventsStore = {};
                    if (!$(this).hasClass('l-btn-disabled')) {
                        var eventsStore = {};
                        eventsStore.target = this;
                        eventsStore.onclicks = [];
                        //处理超链接
                        var strHref = $(this).attr("href");
                        if (strHref) {
                            eventsStore.href = strHref;
                            $(this).attr("href", "javascript:void(0)");
                        }
                        //处理直接耦合绑定到onclick属性上的事件
                        var onclickStr = $(this).attr("onclick");
                        if (onclickStr && onclickStr != "") {
                            eventsStore.onclicks[eventsStore.onclicks.length] = new Function(onclickStr);
                            $(this).attr("onclick", "");
                        }
                        //处理使用jquery绑定的事件
                        var eventDatas = $(this).data("events") || $._data(this, 'events');
                        if (eventDatas["click"]) {
                            var eventData = eventDatas["click"];
                            for (var i = 0; i < eventData.length; i++) {
                                if (eventData[i].namespace != "menu") {
                                    eventsStore.onclicks[eventsStore.onclicks.length] = eventData[i]["handler"];
                                    $(this).unbind('click', eventData[i]["handler"]);
                                    i--;
                                }
                            }
                        }
                        state._eventsStore = eventsStore;
                        $(this).addClass('l-btn-disabled');
                    }
                });
            }
        });
    });
    //导出空表格
    function importProjectProgressExcel(){
        var rowDatas = $("#datagrid").datagrid("getSelections");
        if(rowDatas.length==0){
            var ids = new Array(rowDatas.length);
            for(var i = 0; i<rowDatas.length; i++){
                ids[i] = rowDatas[i].garrisonInformationId;
            }
            window.location.href="HnGarrisonInformation_Null_Excel?time="+new Date();
        }
    }

    //导出数据
    function ProjectProgressExcel(){
        var rowDatas = $("#datagrid").datagrid("getSelections");
        //console.log(rowDatas+"信息数据");
        if(rowDatas.length==0){
            $.messager.alert("信息框","请选中要导出的数据","warning");
        }else{
            var ids = new Array(rowDatas.length);
            for(var i = 0; i<rowDatas.length; i++){
                ids[i] = rowDatas[i].garrisonInformationId;
            }
            //console.log(ids);
            window.location.href="HnGarrisonInformation_Excel?ids="+ids+"&time="+new Date();
        }
    }

    //导入数据
    function importProjectProgress(){
        // 输入框的值，过滤是否选择文件
        var fileName = $("#fileName").filebox("getValue");
        var fileNameStr = fileName.substr(fileName.indexOf(".")+1);
        //console.log("fileName:"+fileName);
        //console.log("fileNameStr:"+fileNameStr);
        if(fileName==null || fileName==""){
            alert("请选择要导入的excel文件");
        }else if(fileNameStr=="xls" || fileNameStr=="xlsx"){
            var flag=true;
            if(flag){
                $.messager.confirm("确定对话框","确认导入吗？",function(n){
                    if(n){
                        $("#excelForm").form("submit",{
                            url:"../HN/HnGarrisonInformation_parseExcel",
                            success:function (data) {
                                var jsObj = JSON.parse(data);
                                $.messager.alert("信息框",jsObj.isParse,"warning");
                                if(jsObj.isParse=="导入成功"){
                                    $("#datagrid").datagrid("reload");
                                    var value = $("#fileName").textbox('getValue')  //获取值
                                    $("#fileName").textbox('setValue','')
                                }
                            }
                        })

                    }
                })
            }
        }else{
            $.messager.alert("提示框","文件类型不一致",'warning');
        }
    }
</script>
</body>
</html>