<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyu.panyuprojectims.dao.A_RegisterPanyuUserDao">

    <!-- PanyuUser的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="Register_PanyuUser_Map" type="com.panyu.panyuprojectims.entity.PanyuUser">
        <id column="USER_ID" property="userId" />
        <result column="USER_PROVINCE" property="userProvince" />
        <result column="USER_CITY" property="userCity" />
        <result column="USER_COUNTY" property="userCounty" />
        <result column="USER_COMPANY_NAME" property="userCompanyName" />
        <result column="USER_COMPANYCCC_NUMBER" property="userCompanycccNumber" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_EMAIL" property="userEmail" />
        <result column="USER_TEL" property="userTel" />
        <result column="USER_PWD" property="userPwd" />
        <result column="USER_STATE" property="userState" />
    </resultMap>

    <select id="selectUserEmail" resultType="java.lang.Integer">
        select count(*) from panyu_user where user_email = #{userEmail,jdbcType=VARCHAR}
    </select>
    <select id="queryInfoByUsername" resultMap="Register_PanyuUser_Map">
            select * from panyu_user where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <insert id="register" parameterType="com.panyu.panyuprojectims.entity.PanyuUser">
        insert into panyu_user (USER_ID, USER_PROVINCE, USER_CITY, USER_COUNTY, USER_COMPANY_NAME, USER_COMPANYCCC_NUMBER, USER_NAME, USER_EMAIL,user_tel ,USER_PWD,user_state)
        values (sys_guid(), #{userProvince,jdbcType=VARCHAR}, #{userCity,jdbcType=VARCHAR}, #{userCounty,jdbcType=VARCHAR},#{userCompanyName,jdbcType=VARCHAR}, #{userCompanycccNumber,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR},#{userTel,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},0)
    </insert>
</mapper>