<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyu.panyuprojectims.dao.HnConstructionOrganizationDao">
    <!-- HnConstructionOrganization的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_HnConstructionOrganization_Map" type="com.panyu.panyuprojectims.entity.HnConstructionOrganization">
        <id column="CONSTRUCTION_ORGANIZATION_ID" property="constructionOrganizationId" />
        <result column="CONSTRUCTION_CORPORATE_NAME" property="constructionCorporateName" />
        <result column="CONSTRUCTION_LINKMAN" property="constructionLinkman" />
    </resultMap>


    <!--根据驻地网施工单位表ID字段删除数据-->
    <delete id="deleteHnConstructionOrganizationByConstructionOrganizationId" parameterType="java.lang.String">
        delete from HN_CONSTRUCTION_ORGANIZATION
        where CONSTRUCTION_ORGANIZATION_ID = #{constructionOrganizationId,jdbcType=VARCHAR}
    </delete>

    <!--添加-->
    <insert id="insertHnConstructionOrganization">
        insert into HN_construction_organization values(
        #{constructionOrganizationId,jdbcType=VARCHAR},
        #{constructionCorporateName,jdbcType=VARCHAR},
        #{constructionLinkman,jdbcType=VARCHAR})
    </insert>

</mapper>