<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyu.panyuprojectims.dao.LlWallMountedOnuNewDao">
    <!-- LlWallMountedOnuNew的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_LlWallMountedOnuNew_Map" type="com.panyu.panyuprojectims.entity.LlWallMountedOnuNew">
        <id column="NEW_WALL_MOUNTED_ONU_ID" property="newWallMountedOnuId" />
        <result column="NEW_WALL_MOUNTED_ONU_NUMBER" property="newWallMountedOnuNumber" />
        <result column="NEW_WALL_MOUNTED_ONU_SIZE" property="newWallMountedOnuSize" />
    </resultMap>

    <!-- 数据库中表名为:LL_WALL_MOUNTED_ONU_NEW的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="LL_WALL_MOUNTED_ONU_NEW_Column">
        LL_WALL_MOUNTED_ONU_NEW.NEW_WALL_MOUNTED_ONU_ID as NEW_WALL_MOUNTED_ONU_ID
        ,LL_WALL_MOUNTED_ONU_NEW.NEW_WALL_MOUNTED_ONU_NUMBER as NEW_WALL_MOUNTED_ONU_NUMBER
        ,LL_WALL_MOUNTED_ONU_NEW.NEW_WALL_MOUNTED_ONU_SIZE as NEW_WALL_MOUNTED_ONU_SIZE
    </sql>

    <!--跟据信息id查询壁挂式光交箱（新建）对象-->
    <select id="selectLlWallMountedOnuNewByCircuitInformationId" resultMap="result_LlWallMountedOnuNew_Map">
        select ll.* from LL_circuit_information l left join LL_wall_mounted_onu_new ll
        on l.new_wall_mounted_onu_id = ll.new_wall_mounted_onu_id
        where l.circuit_information_id = #{circuitInformationId}
    </select>

    <!--根据新建壁挂式光交箱ID删除选中项-->
    <delete id="deleteLlWallMountedOnuNew">
        delete from LL_WALL_MOUNTED_ONU_NEW
        where NEW_WALL_MOUNTED_ONU_ID = #{newWallMountedOnuId,jdbcType=VARCHAR}
    </delete>
    <!--添加-->
    <insert id="insertLlWallMountedOnuNew">
        insert into LL_WALL_MOUNTED_ONU_NEW values (
            #{newWallMountedOnuId,jdbcType=VARCHAR},
            #{newWallMountedOnuNumber,jdbcType=VARCHAR},
            #{newWallMountedOnuSize,jdbcType=VARCHAR}
        )
    </insert>
</mapper>