<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyu.panyuprojectims.dao.PanyuUserDao">
    <!-- PanyuUser的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_PanyuUser_Map" type="com.panyu.panyuprojectims.entity.PanyuUser">
        <id column="USER_ID" property="userId" />
        <result column="USER_PROVINCE" property="userProvince" />
        <result column="USER_CITY" property="userCity" />
        <result column="USER_COUNTY" property="userCounty" />
        <result column="USER_COMPANY_NAME" property="userCompanyName" />
        <result column="USER_COMPANYCCC_NUMBER" property="userCompanycccNumber" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_EMAIL" property="userEmail" />
        <result column="USER_TEL" property="userTel" />
        <result column="USER_PWD" property="userPwd" />
        <result column="USER_STATE" property="userState" />
        <result column="user_log_pwd" property="userlogpwd" />
        <association property="shiroRole" javaType="ShiroRole">
            <id column="ROLE_ID" property="roleId" />
            <result column="ROLE_NAME" property="roleName" />
            <result column="ROLE_CREATE_TIME" property="roleCreateTime" />
            <result column="ROLE_UPDATE_TIME" property="roleUpdateTime" />
        </association>
        <association property="shiroResource" javaType="ShiroResource">
            <id column="RESOURCE_ID" property="resourceId" />
            <result column="RESOURCE_NAME" property="resourceName" />
            <result column="RESOURCE_URL" property="resourceUrl" />
            <result column="RESOURCE_CODE" property="resourceCode" />
            <result column="PARECT_RESOURCE_ID" property="parectResourceId" />
        </association>
        <association property="shiroAmdinRole" javaType="ShiroAmdinRole">
            <id column="ADMIN_ROLE_ID" property="adminRoleId" />
            <result column="ADMIN_ID" property="adminId" />
            <result column="ROLE_ID" property="roleId" />
        </association>
        <association property="shiroRoleResource" javaType="ShiroRoleResource">
            <id column="ROLE_RESOURCE_ID" property="roleResourceId" />
            <result column="ROLE_ID" property="roleId" />
            <result column="RESOURCE_ID" property="resourceId" />
        </association>
    </resultMap>

    <!--修改用户-->
    <update id="updatePanyuUser">
        update  panyu_user set user_name = #{userName,jdbcType=VARCHAR},user_pwd =#{userPwd,jdbcType=VARCHAR} ,user_log_pwd=#{userlogpwd,jdbcType=VARCHAR},user_tel=#{userTel,jdbcType=VARCHAR},user_email=#{userEmail,jdbcType=VARCHAR}where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <!--修改用户时先查询分配的角色个数-->
    <select id="getCountByRoleName" resultType="long">
        select count(*) from panyu_user p left join shiro_amdin_role s
        on p.user_id = s.user_id
        left join shiro_role s1
        on s1.role_id = s.role_id
        where s1.role_id=#{roleId,jdbcType=VARCHAR}
        and p.user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <!--添加用户和角色中间表-->
    <insert id="insertPanyuUserAndRole">
        insert into shiro_amdin_role values(sys_guid(),#{userId,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR})
    </insert>

    <!--删除用户及拥有的角色-->
    <delete id="deletePanyuUserAndRoleByUserId">
        delete from shiro_amdin_role where user_id = #{userId,jdbcType=VARCHAR}
    </delete>

    <!--删除用户-->
    <delete id="deletePanyuUser">
        delete from panyu_user where user_id =#{userId,jdbcType=VARCHAR}
    </delete>

    <!--添加用户-->
    <insert id="addPanyuUser">
        insert into panyu_user (USER_ID,USER_NAME,USER_PWD,USER_STATE,USER_LOG_PWD,USER_TEL,USER_EMAIL)
        values (
        sys_guid(),
        #{userName,jdbcType=VARCHAR},
        #{userPwd,jdbcType=VARCHAR},
        '0',
        #{userlogpwd,jdbcType=VARCHAR},
        #{userTel,jdbcType=VARCHAR},
        #{userEmail,jdbcType=VARCHAR}
        )

    </insert>
    <!--分页展示用户名和登录密码-->
    <select id="queryPanyuUserList" resultMap="result_PanyuUser_Map">
        select * from (select u.*,rownum r from (select * from panyu_user
        <where>
            <if test="userName !=null and userName !=''">
                and USER_NAME like #{userName}
            </if>
        </where>
        )u)
        where r between #{start} and #{end}
    </select>

    <!--查询用户的总数-->
    <select id="queryCountPanyuUser" resultType="long">
        select count(*) from panyu_user
        <where>
            <if test="userName !=null and userName !=''">
                and USER_NAME like #{userName}
            </if>
        </where>
    </select>


    <select id="queryInfoByUsername" resultMap="result_PanyuUser_Map">
            select * from panyu_user where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <insert id="register" parameterType="com.panyu.panyuprojectims.entity.PanyuUser">
        insert into panyu_user (USER_ID, USER_PROVINCE, USER_CITY, USER_COUNTY, USER_COMPANY_NAME, USER_COMPANYCCC_NUMBER, USER_NAME, USER_EMAIL,user_tel ,USER_PWD,user_state,user_log_pwd)
        values (sys_guid(), #{userProvince,jdbcType=VARCHAR}, #{userCity,jdbcType=VARCHAR}, #{userCounty,jdbcType=VARCHAR},#{userCompanyName,jdbcType=VARCHAR}, #{userCompanycccNumber,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR},#{userTel,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},0,#{userlogpwd,jdbcType=VARCHAR})
    </insert>
    <!-- 根据当前登录的用户查询用户所拥有的所有角色 -->
    <select id="queryRolesByUsername" parameterType="com.panyu.panyuprojectims.entity.PanyuUser" resultType="String" >
        select s_role.role_name from shiro_role s_role inner join shiro_amdin_role s_a_r on s_role.role_id=s_a_r.role_id
        inner join panyu_user p_u on p_u.user_id=s_a_r.user_id where p_u.user_name= #{userName,jdbcType=VARCHAR}
    </select>
    <!-- 根据当前登录的用户查询用户所拥有的所有权限 -->
    <select id="queryResByUsername" parameterType="com.panyu.panyuprojectims.entity.PanyuUser" resultType="String" >
        select  s_res.resource_name from shiro_resource s_res inner join shiro_role_resource s_r_res
        on s_res.resource_id = s_r_res.resource_id
        inner join shiro_amdin_role s_a_r on s_a_r.role_id = s_r_res.role_id
        inner join panyu_user p_y on p_y.user_id = s_a_r.user_id where  p_y.user_name=#{userName,jdbcType=VARCHAR}
    </select>
</mapper>