<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyu.panyuprojectims.dao.ShiroRoleResourceDao">
    <!-- ShiroRoleResource的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_ShiroRoleResource_Map" type="com.panyu.panyuprojectims.entity.ShiroRoleResource">
        <id column="ROLE_RESOURCE_ID" property="roleResourceId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="RESOURCE_ID" property="resourceId" />
    </resultMap>

   
</mapper>